spring:
  application:
    name: map-service

  cloud:
    config:
      enabled: false

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true  # ★ JPA가 먼저, schema.sql 나중
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

#  sql:
#    init:
#      mode: always
#      schema-locations: classpath:/db/schema.sql

eureka:
  client:
    enabled: false